
.block {
  position: fixed;
  width: 100%;
  /* max-width: 2vw; */
  /* height: 40vh; */
  /* border-bottom: 5vw solid #444B54; */
  z-index: 7;
  /* right: -220px; */
  bottom: 175px;
  }
  .block-cat {
    width: 600px;
    position: absolute;
    right: 10px;
    /* left: 0; */

    /* bottom: -0.3vw; */
  }
  @media (max-width: 600px) {
    .block-cat {
      bottom: -0.7vw;
    }
  }
  @media (max-width: 320px) {
    .block-cat {
      bottom: -1.3vw;
    }
  }
  .block-cat__path {
    fill: #D1946C;
  }
  .block-cat__bounce {
    -webkit-animation: bounce 1s infinite alternate;
    animation: bounce 1s infinite alternate;
  }
  .block-cat__ear {
    -webkit-animation: ear 2s infinite alternate;
    animation: ear 2s infinite alternate;
  }
  .block-tail {
    width: 8vw;
    position: absolute;
    left: 27vw;
    bottom: -13.5vw;
  }
  @media (max-width: 320px) {
    .block-tail {
      left: 26.7vw;
    }
  }
  .block-tail__path {
    fill: #D1946C;
  }
  .block-flower__vase {
    background-color: #8199A3;
    border-radius: 20px 20px 0 0;
    position: absolute;
    right: 0;
    height: 10vw;
    width: 6vw;
    display: block;
    bottom: 0;
  }
  .block-flower__tulip {
    position: absolute;
    right: 0.3vw;
    width: 4vw;
    bottom: 2vw;
  }
  
  @keyframes bounce {
    100% {
      transform: scale(0.98) translateY(3px) translateX(5px);
    }
  }
  @keyframes ear {
    0%, 2% {
      transform: rotate(0) translateX(0) translateY(0);
    }
    3%, 5% {
      transform: rotate(2deg) translateX(3px) translateY(-2px);
    }
    6%, 8% {
      transform: rotate(0) translateX(0) translateY(0);
    }
    9%, 11% {
      transform: rotate(2deg) translateX(3px) translateY(-2px);
    }
    12%, 14% {
      transform: rotate(0) translateX(0) translateY(0);
    }
    15%, 100% {
      transform: rotate(0) translateX(0) translateY(0);
    }
  }