.flying_image {
    font-family: comic sans ms;
    color: white;
    position: fixed;
    bottom: 5vh;
    right: 0;
    text-shadow: 2px 2px #F1599B;
    font-size: 18px;
    display: flex;
    animation-name: across, float;
    animation-iteration-count: infinite, infinite;
    animation-duration: 45s, 6s;
    animation-play-state: running, running;
    transform-origin: bottom;
    z-index: 5;    
    opacity: 0.6;
}
.flying_image img {
    height: 55vh;
    bottom: 0;
    /* background-color: #; */
    display: block;
    z-index: 2;
    border-radius: 1em;
    /* -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite; */    
    position: absolute;
}
.flying_image p {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: auto;
    margin-right: 5px;
}

#flying_1{
    transition: transform 4.8s, opacity .8s ease-in-out;     
}

#flying_0{
    transition: transform 4.8s, opacity .8s ease-in-out;   
}


@keyframes across {
    0% {right: -10vw}
    100% {right:110vw; bottom:60vh}
}
@keyframes float {
    0% {transform: translate(0px, 0px)}
    50% {transform: translate(0px, -80px)}
    100% {transform: translate(0px, 0px)}
}