 
#top_menu{
    z-index: 20;
    right: 1em;
    top: 2cm;
    position: fixed;
    font-size: 350%;
}

.top_menu_item{
    color:#727272;
    background: #00000052;
    padding: 5px;
    border-radius: 10px;
}

.top_menu_item:hover{
    color:white;
}